@import 'variables';

@import "../node_modules/bootstrap/scss/bootstrap";


@import "../app/style/gray-trap";
@import "../app/style/helpful-classes";

@import "../app/style/credit";
@import "../app/style/contact";


@import "../app/style/about";
@import "../app/style/flats";
@import "../app/style/newsletter";
@import "../app/style/footer";
@import "../app/style/contact-form";

html{
    scroll-behavior: smooth;
}
body{
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.link{
  color: red;
}

.gallery{
  // padding-top: 50px;
  position: relative;
  // border: solid;
  font-size: 16px;
  display: flex;
  justify-content: center;

   @include media-breakpoint-down(md){
    font-size: 11px;
    
   }

   @include media-breakpoint-down(md){
    font-size: 10px;
    
   }

  .title{
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    // border:solid red; 
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 85px;
    // border: solid;
    width: 60%;
    text-align: center;
    h1{
      text-transform: uppercase;
      font-size:1.9em;
      margin-bottom: 40px;
      @include media-breakpoint-down(md){
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 1.4em;
      }
    }
    p{
      font-size: 1em;
      padding: 0 40px;
       @include media-breakpoint-down(md){
        padding: 0 8px;
      }
    }
    .more{
      font-size: .8em;
      margin-bottom: 0;
    }
    .icon{
      font-size: 1em;
    }
  }
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

.navbar-brand{
  // position: relative;
  // border: solid;
  height: 60px;
  width: 100px;
  // left: 50%;
  // margin-left: -60px;
  text-align: center;
  background: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/168398/580/387/m1/fpnw/wm0/1-converted-01-.png?1408793749&s=287272880eb4ecac330e13ca2a84e849");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}




