@import 'variables';

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../app/style/credit";
@import "../app/style/contact";

body {
  font-family: sans-serif;
}


.box{
  height: 300px;
  border: solid;
  .minibox{
    height: 200px;
    border: solid;
  }
}
#navbarResponsive{
  justify-content: flex-start;
}

   
.opacity-90 {
  opacity: 0.9; 
}
.gallery{
  padding-top: 50px;
  position: relative;
 
  .title{
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      text-transform: uppercase;
      font-size: 1rem;;
    }
  }
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

 .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
}



 .parallelogram {
      transform: skew(-10deg);
    }


.main{
  display: none;
  transform: translateY(-235px);
 
  width: 100%;
  background: $odd-color;
  margin: auto;
  overflow: hidden;
  .box{
    width: 26%; //zarządź przestrzenią przy pomocy przestrzeni flex lub grid
  
    border: 0;
    .icon{
      position: relative;
      top: 5px;
    }
    h1{
      position: relative;
      margin-bottom: 20px;
      top: 10px;
    }
    p{
      position: relative;
      top: 15px;
    }
    &1{
      width: 24%;
      // border: solid;
      .icon{
        &:hover{
          transform: scale(1.3) skewX(0deg);
        }
      }
    }
    
    &2,&3,&4{
      transform: skew(-10deg);
    }
    &2,&4{
      // border: solid;
      background: $even-color;
    }
    &3, &4{
      position: relative;
      bottom: 10px;
    }
    &3{
      background: $odd-color;
      position: relative;
      top: 3px;
    }
    &4{
      width: 26%;
      // position: relative;


      // &:after{
      //   content: "asd ";
      //   height: 100%;
      //   width: 100%;
      //   position: absolute;
      //   z-index: 222;
      //   // border-right: 100vw solid $odd-color;
      // }
      
    }
    
  }

}

.fasada, h1, p{
  z-index: 1000;
}
.fasada {
  color: rgb(242, 167, 59);
  transition: .2s;
}
.fasada:hover{
  cursor: pointer;
  transform: skewX(10deg) scale(1.3);
}
//  ************ zrobić animację !!!




.brown-color{
  color: $brown-color;
}


.relative{
  position: relative;
}
.trapez-background{
  position: absolute;
  right: 0;
  width: 46%;
  height: 100%;
  background: $odd-color;
  transform: skewX(-10deg);
}

.image-container{
  width: 100%;
  height:  80%;
}

.gray-trap{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    // ustaw obrazek zeby nie rozpychal kolejnego diva tylko na niego najeżdżał
     
     .box{
      position: relative;
      width: 85%;
      height: 100%;
      background: $even-color;
      transform: skewX(-10deg) translateX(62px);
      border: 0;
      border-right: solid 100px $odd-color;
     
     &__content{
      position: absolute;
      transform: skewX(10deg) translateX(0px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
     }
    }
  }


  // add the same height in each sections
.credit, #about{
  display: flex;
  height: 650px;
  flex-direction: column;
  
}
#about{
  height: 850px;
  // border: solid blue;

  h1{
    // border: solid;
    height: 10%;
  }
  .gray-trap{
    height: 95%;
    // border: solid red;
    position: relative;






  .trap-container{
            width: 60%;
            height: 85%;
            border: solid 8px $gold-color;
            position: absolute;
            left: -10%;
            bottom: 7.5%;
            transform: skewX(-10deg);
            background: gray;
            z-index: 10;

            &:before, &:after{
              content: '';
              width: 75%;
              position: absolute;
              background: white;
              border: solid 4px white; // like container background
              left: -100px;
              top: -8px;
              transform: skewX(10deg);
            }
            &:after{
              width: 83%;
              top: 100%;
            }

            .image{
              position: absolute;
              width: 100%;
              height: 100%;
              overflow: hidden;
              ;
              &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: -15%;
                background-image: url("https://bi.im-g.pl/im/91/be/14/z21750929V,Osiedle-Zoliborz-Artystyczny.jpg");
                transform: skewX(10deg);
                background-size: cover;
                transition: .45s;
              }
              &:hover{
                &:after{
                  transform: skewX(10deg) scale(1.1);
                  cursor: pointer;
                }
              }
            }
        }



















      // .trap-image-container{
      //     border: solid $gold-color 8px;
      //     width: 80%;
      //     height: 80%;
      //     transform: skewX(-10deg) translateX(-62%);
        
      //     top: 30px;
      //     overflow: hidden;
      //     z-index: 10;
      //     position: absolute;
      //     &:after{
      //       content: "";
      //       position: absolute;
      //       width: 50px;
      //       height: 100px;
      //       left: 0;
      //       top: 0;
      //       background-color: greenyellow;
      //       z-index: 100;
      //     }
      //       .image{
                
      //           background: url(https://bi.im-g.pl/im/91/be/14/z21750929V,Osiedle-Zoliborz-Artystyczny.jpg);
      //           position:absolute;
      //           top:-30px;
      //           left:-30px;
      //           right:-30px;
      //           bottom:-30px;
      //           background-size: 110%;
      //           background-repeat: no-repeat;
      //           transform: skew(10deg);
      //         }
      // }
      .box{
        width: 76%;
        // position: relative;
        transform: skewX(-10deg) translateX(70px);
        // border: solid;
        &__content{
          position: absolute;
          right: 100px;
          // border: solid blue;
          width: 350px;
          transform: skewX(10deg);
          p{
            color: $gray-color;
          }
        }
      }
  }
  .multi-trap-contaner{
    height: 25%;
    // border: solid;
    margin-top: 20px;
    width: 100%;
    .main{
      transform: translateY(0);
      height: 100%;
     
    }
  }
}




.skew-back{
  transform: skewX(10deg) translateX(0px);
}


.b{
  border: solid red;
}




.title-color{
  color: $title-color;
  font-size: 2rem;
  &:after, &:before{
    content: ' ';
    position: absolute;
    color: $gold-color;
    width: 30px;
    border: solid 1px;
    // bottom: 10%;
    transform: translate(10px, 17px) ;
  }&:before{
    transform: translate(-40px, 17px);
  }
}





@media only screen and (min-width: 768px) {
         .height-230
         {
          height: 230px; 
         }
         .main{
           display: flex;
         }
     }