

    #about{
  display: flex;
  flex-direction: column;
  height: 850px;
  // border: solid blue;

  h1{
    // border: solid;
    height: 10%;
  }

  .gray-trap{
    height: 95%;
    // border: solid red;
    width: 100%;
    position: relative;

  .trap-container{
            width: 60%;
            height: 85%;
            border: solid 8px $gold-color;
            position: absolute;
            left: -10%;
            bottom: 7.5%;
            transform: skewX(-10deg);
            // background: gray;
            z-index: 10;
            @include media-breakpoint-down(sm){ 
              // border: solid red;
            //  width: 50%;
            //  height: 70%;
            //  bottom: 15%;
            }
              @include media-breakpoint-down(md) { 
                // border: solid red;
               width: 50%;
               height: 70%;
               bottom: 15%;
              }
            &:before, &:after{
              content: '';
              width: 75%;
              position: absolute;
              background: white;
              border: solid 4px white; // like container background
              left: -100px;
              top: -8px;
              transform: skewX(10deg);
            }
            &:after{
              width: 83%;
              top: 100%;
            }

            .image{
              position: absolute;
              width: 100%;
              height: 100%;
              overflow: hidden;
              ;
              &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: -15%;
                background-image: url("https://bi.im-g.pl/im/91/be/14/z21750929V,Osiedle-Zoliborz-Artystyczny.jpg");
                transform: skewX(10deg);
                background-size: cover;
                transition: .45s;
              }
              &:hover{
                &:after{
                  transform: skewX(10deg) scale(1.1);
                  cursor: pointer;
                }
              }
            }
        }


        .box{
      position: relative;
      // border: solid;
      width: 76%;
      height: 100%;
      background: $even-color;
      transform: skewX(-10deg) translateX(62px);
      border: 0;
      border-right: solid 100px $odd-color;
     
     &__content{
      position: absolute;
      transform: skewX(10deg) translateX(0px);
      height: 100%;
      width: 55%;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: solid;
      font-size: 16px;
      @include media-breakpoint-down(md){
        // border: solid orange;
        font-size: 14px;
        width: 85%;
        right: -10px;
      }
       @include media-breakpoint-down(sm) { 
          // border: solid red;
          font-size: 11px;
          width: 90%;
          // right: 0px;
        }
        @include media-breakpoint-down(xs){
          // border: solid green;
          // font-size: 6px;
          height: 70%;
        }
      .title{
        margin-bottom: 20px;
        font-size: 2em;
        // @include media-breakpoint-down(md) { 
        //   font-size: 1.2em;
        // }
      }
      .p{
        color: $gray-color;
        font-size: 1.2em;
        // @include media-breakpoint-down(md) { 
        //   font-size: .9em;
        // }
      }
     }
    }

  }


  
  
  
  .multi-trap-contaner{
    height: 40%;
    // border: solid blue;
    margin-top: 20px;
    width: 100%;
            .main{
                  display: flex;
                //  border: solid red;
                 height: 100%;
                  width: 100%;
                  background: $odd-color;
                  margin: auto;
                  overflow: hidden;
                  align-items: center;
                  @include media-breakpoint-down(lg){
                        // height: 10%;
                        border: solid orange;
                      }
                  .box{
                    width: 26%; //zarządź przestrzenią przy pomocy przestrzeni flex lub grid
                    
                    border: 0;
                    font-size: 18px;
                    // @include media-breakpoint-down(lg){
                    //     font-size: 18px;
                    //   }  
                    @include media-breakpoint-down(lg){
                        font-size: 15px;
                        
                      }
                    .icon{
                      position: relative;
                      // top: 5px;
                    }
                    h1{
                      position: relative;
                      // margin-bottom: 20px;
                      // top: 10px;
                      color: $brown-color;
                      font-size: 2em;
                    }
                    p{
                      position: relative;
                      color: $brown-color;
                    }
                    &1{
                      width: 24%;
                      // border: solid;
                      align-items: center;
                       @include media-breakpoint-down(lg){
                        width: 27%;
                      }
                      .icon{
                        &:hover{
                          transform: scale(1.3) skewX(0deg);
                        }
                      }
                    }
                    
                    &2,&3,&4{
                      transform: skew(-10deg);
                    }
                    &2,&4{
                      // border: solid;
                      background: $even-color;
                      height: 100%;
                      .icon, h1, p{
                        position: relative;
                        top: 20px;
                        // color: black;
                      }
                    }
                    &3, &4{
                      position: relative;
                    }
                    
                    &2{
                      .icon, h1, p{
                        position: relative;
                        top: 17px;
                        // color: black;
                      }
                    }
                    &3{
                      background: $odd-color;
                      position: relative;
                      top: 3px;
                    }
                    &4{
                      left: 2%;
                      @include media-breakpoint-down(lg){
                         position: relative;
                    // border: solid orange;
                        // .icon{
                        //   top: 6px;
                        // }
                   
                  }
                    }
                    
                  }
                
                }
   


  }
}




      






























    
// #about{
//   margin-top: 30px;  
//   display: flex;
//   flex-direction: column;
//   height: 850px;    // ***********
//   // @include media-breakpoint-up(sm) { 
//   //   height: 450px;  
//   //  }

//   border: solid blue;

//   h1{
//     // border: solid;  
//     height: 10%;
//   }

//   .gray-trap{
//     height: 30vw; //*****  

//     @include media-breakpoint-up(sm) { height: 60%; }


//     // border: solid red;
//     position: relative;

//   .trap-container{
//             width: 60%;  
//             height: 85%;
//             border: solid 8px $gold-color;
//             position: absolute;
//             left: -10%;
//             bottom: 7.5%;
//             transform: skewX(-10deg);
//             background: gray;
//             z-index: 10;

//             &:before, &:after{
//               content: '';  
//               width: 75%;
//               position: absolute;
//               background: white;
//               border: solid 4px white; // like container background
//               left: -100px;
//               top: -8px;
//               transform: skewX(10deg);
//             }
//             &:after{
//               width: 83%;  
//               top: 100%;
//             }

//             .image{
//               position: absolute;  
//               width: 100%;
//               height: 100%;
//               overflow: hidden;
//               ;
//               &:after{
//                 content: "";  
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 right: -15%;
//                 background-image: url("https://bi.im-g.pl/im/91/be/14/z21750929V,Osiedle-Zoliborz-Artystyczny.jpg");
//                 transform: skewX(10deg);
//                 background-size: cover;
//                 transition: .45s;
//               }
//               &:hover{
//                 &:after{
//                   transform: skewX(10deg) scale(1.1);  
//                   cursor: pointer;
//                 }
//               }
//             }
//         }


//       .box{
//         width: 76%;  
//         // position: relative;
//         transform: skewX(-10deg) translateX(70px);
//         // border: solid;
//         &__content{
//           position: absolute;  
//           right: -30px;
//           // border: solid blue;
//           @include media-breakpoint-up(sm) {
        
//         }  
//         width: 350px;
//         transform: skewX(10deg);
//         p{
//           color: $gray-color;  
//           }
//         }
//       }
//   }
//   .multi-trap-contaner{
//     height: 25%;  
//     // border: solid;
//     margin-top: 20px;
//     width: 100%;
//     .main{
//       transform: translateY(0);  
//       height: 100%;
     
//     }
//   }
// }



//       .main{
//       display: flex;  
//       border: solid;
//       transform: translateY(-235px);
//       flex-direction: column;  // ***

//        @include media-breakpoint-up(md) {
//           flex-direction: row;  
//         }
     
//       width: 100%;
//       background: $odd-color;
//       margin: auto;
//       overflow: hidden;
//       .box{
//         width: 26%; //zarządź przestrzenią przy pomocy przestrzeni flex lub grid  
      
//         border: 0;
//         .icon{
//           position: relative;  
//           top: 5px;
//         }
//         h1{
//           position: relative;  
//           margin-bottom: 20px;
//           top: 10px;
//         }
//         p{
//           position: relative;  
//           top: 15px;
//         }
//         &1{
//           width: 24%;  
//           // border: solid;
//           .icon{
//             &:hover{
//               transform: scale(1.3) skewX(0deg);  
//             }
//           }
//         }
        
//         &2,&3,&4{
//           transform: skew(-10deg);  
//         }
//         &2,&4{
//           // border: solid;  
//           background: $even-color;
//         }
//         &3, &4{
//           position: relative;  
//           bottom: 10px;
//         }
//         &3{
//           background: $odd-color;  
//           position: relative;
//           top: 3px;
//         }
//         &4{
//           width: 26%;  
//         }
        
//       }
    
//     }




















    // ****************LARGE********************


    
