#contact{
      display: flex;
      height: 650px;
      flex-direction: column;
  // border: solid;
    .contact-container{
        background-color: $odd-color;
        // border: solid red;
        flex: 1;
        position: relative;
        overflow: hidden;
        z-index: 1;
        display: flex;

        .trapez-left{
            position: absolute;
            background-color: $even-color;
            width: 100%;
            height: 100%;
            transform: translateX(70px) skewX(13deg);
            z-index: -1;
            
             @include media-breakpoint-down(md){
                transform: translateX(70px) skewX(13deg)
              }
        }

        .content-container{
            position: absolute;
           
            left: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // top: 50px;
            height: 100%;
            text-align: center;
            width: 300px;
            color: $gray-color;
            font-size: 16px;
             @include media-breakpoint-down(md){
               font-size: 13px;
               left:8%;
              //  right: 0%;
              //  border: solid green 1px;
              }
             @include media-breakpoint-down(sm){
               font-size: 10px;
               left: 0%;
              // border: solid;
              }
             @include media-breakpoint-down(xs){
               font-size: 8px;
               left: -75px;
               z-index: 10;
              //  left: 0%;
              // border: solid;
              }
            h4{
                color: $brown-color;
                font-size: 1.5em;
            }
            p{
                font-size: 1.1em;
            }
            p,h4{
                margin: 7px;
            }
            .go-up{
                position: relative;
                bottom: 15px;
            }
        }



        .trap-container{
          width: 60%;
          height: 80%;
          border: solid 8px $brown-color;
          border-right: 0;
          position: absolute;
          right: -12%;
          bottom: 10%;
          transform: skewX(10deg);
          background: $gray-color;
          // @include media-breakpoint-down(md){
          //   font-size: 14px;
          //   width: 50%;
          //   height: 80%;
          //   border: solid blue;
          // }
          // @include media-breakpoint-down(md){
          //   width: 40%;
          //   height: 60%;
          //   bottom: 20%;
          //   right: -11%;
          //   // border: solid green;
          // }
          @include media-breakpoint-down(xs){
            // width: 40%;
            // height: 75%;
            // bottom: 20%;
            right: -22%;
            // border: solid green;
            // margin-right: 20px;
          }

          &:before, &:after{
            content: '';
            width: 60%;
            position: absolute;
            background: white;
            border: solid 4px $even-color; // like container background
            right: -1px;
            top: -8px;
            transform: skewX(-10deg)
          }
          &:after{
            width: 73%;
            top: 100%;
          }

          .image{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            ;
            &:after{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              left: -15%;
              background-image: url("https://bi.im-g.pl/im/91/be/14/z21750929V,Osiedle-Zoliborz-Artystyczny.jpg");
              transform: skewX(-10deg) translateX(-14px);
              background-size: cover;
              transition: .45s;
            }
            &:hover{
              &:after{
                transform: skewX(-10deg) scale(1.1) translateX(-12px);
                cursor: pointer;
              }
            }
          }
        }
    }
    margin-bottom: 80px;
}