#contact-form{
  background-color: $odd-color;
  margin-bottom: 150px;
  height: 400px;
  border-bottom: solid white 50px;
  
  .line{
    border: solid 4px $brown-color;
    background-color: $brown-color;
  }
  h2, .send{
    text-transform: uppercase;
    color: $brown-color;
  }
  .send{
    color: white;
    // background-color: $gold-color;
  }
  input::placeholder, textarea{
    text-transform: uppercase;
  }
  
}