#contact-form{
  background-color: $odd-color;
  // margin-bottom: 150px;
  height: 100%;
  // border-bottom: solid white 50px;
  
  // .line{
  //   border: solid 4px $brown-color;
  //   background-color: $brown-color;
  // }
  // h2, .send{
  //   text-transform: uppercase;
  //   color: $brown-color;
  // }
  .send{
    color: white;
    // background-color: $gold-color;
    width: 100px;
  }
  input::placeholder, textarea{
    text-transform: uppercase;
  }
 
  .g-recaptcha {
    // border: solid blue;
    // transform: scale(.7);
    width: 100%;
    // display: flex;
    // justify-content: center;
  }
  @include media-breakpoint-up(sm) { 
    .g-recaptcha{
      transform: scale(1);
    }
   }
}