#contact-form{
  background-color: $odd-color;
  // margin-bottom: 150px;
  height: 100%;
  // border-bottom: solid white 50px;
  
  // .line{
  //   border: solid 4px $brown-color;
  //   background-color: $brown-color;
  // }
  // h2, .send{
  //   text-transform: uppercase;
  //   color: $brown-color;
  // }
  input::placeholder, textarea{
    text-transform: uppercase;
  }
  .button-captcha{
    //  border: solid;
    .g-recaptcha {
      //  border: solid blue;
      transform: scale(.5);
      // width: 100%;
      // display: flex;
      // justify-content: center;
      position: relative;
      left: -50px;
    }
    .send{
      color: white;
      // background-color: $gold-color;
      width: 100px;
      // margin-top: 120px;
    }
    @include media-breakpoint-up(sm) { 
      .g-recaptcha{
      //  border: green;
       transform: scale(1);
       left: 0;
     }
     .send{
       position: relative;
       top: 8px;
     }
    }
 }
}