.brown-color{
  color: $brown-color;
}


.relative{
  position: relative;
}


.skew-back{
  transform: skewX(10deg) translateX(0px);
}


.b{
  border: solid red;
}
// .box{
//   height: 250px;
// }
   
.opacity-90 {
  opacity: 0.9; 
}

.title-color{
  color: $title-color;
  font-size: 16px;
  position: relative;
  // border: solid;
  @include media-breakpoint-up(md) { 
    font-size: 24px;
   }
  &:after, &:before{
    content: '  ';
    position: absolute;
    // color: $gold-color;
    background-color: $gold-color;
    width: 1.5em;
    height: .1em;
    top: 50%;
    transform: translateX(-115%);
    // transform: translateY(50%);
  }
  &:after{
    transform: translateX(15%);
  }
  // &:before{
  //   transform: translate(-40px, 17px);
  // }
    // @include media-breakpoint-down(xs){
    //     // padding: 0 8px;
    //     font-size: 1rem;
    //   }
}

