#mapa-poi{
    // border: solid;
    .background{
        // border: solid red;
        position: relative;
        z-index: 1;
    }
    .img{
        width: 100%;
    }
    .carousel{
        position: absolute;
        top: 0;
        // bottom: 400px;
        // height: 50%;
       
        // border: solid blue;
        height: 100%;
        width: 100%;
    }
    .carousel-inner{
        height: 100%;

    }
    .carousel-item{
        background-color: black;
        color: white;
        opacity: .7;
        height: 100%;
        // width: 100%;
        // z-index: 10;
        // // background-color: rgb(158, 184, 111, .7);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            
        }
    }
}
.g-recaptcha{
  margin: 4% auto;
  width: 100%;
}