
#mapa-poi{
    .carousel-inner{
        height: 50vw;
        // display: flex;
        text-align: center;
        background: url('small-data-images/map.png') no-repeat center center;
        background-size: cover;
        
        // background-color: red;
            @include media-breakpoint-up(sm) { 
                height: 287px;
            
            }
            @include media-breakpoint-up(md) { 
                height: 388px;
            
            }
            @include media-breakpoint-up(lg) { 
                height: 523px;
            
            }
            @include media-breakpoint-up(xl) { 
                height: 625px;
            
            }
        .carousel-item{
            height: 100%;
            width: 100%;
            // text-align: center;
            div{
                // border: solid green;
                background-color: black;
                opacity: .7;
                width: 100%;
                height: 100%;
                margin: auto;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    position: relative;
                    color: white;
                    opacity: 1;
                    z-index: 99;
                }
            }
        }
    }
}





