#newsletter{
  background-color: $gold-color;
  font-size: 13px;
  padding: 0;
  border:  20px solid $gold-color;
  border-left: solid 30px $gold-color;
  border-right: solid 30px $gold-color;
  position: relative;
    // text-align: center;
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:checked{
      &:after{
        content: "";
    // position: absolute;
    background: grey;
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }
}
}

@include media-breakpoint-up(md){
     font-size: 16px;
   }
   



.logo-container{
  position: relative;
  left: -50px;
  top: -50px;
 
  display: flex;
  width: 100%;
  justify-content: center;
  .echo-investment-container, .comercial-text{
    margin: 10px;
  }

  .echo-investment-container{
        height: 100%;
        margin-left: 0;
        // border: solid;
        .logo{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.8em;
            margin-bottom: 0;
            
            &--mini{
            text-transform: lowercase;
            font-weight: lighter;
            font-size: 1.4em;
            margin-top: 0;
            position: relative;
            bottom: 20px;
            letter-spacing: .1em;
            }
        }
       
    }
  

    
    .comercial-text{
   
       white-space: nowrap;
      p{
      
        position: relative;
        margin: 0;
        font-style: italic;
        line-height: 1.4em;;
        top: 7px;
      }
   
    }

  @include media-breakpoint-up(md){
        // border: solid yellow 1px;
        justify-content: start;
      }
 
  }
  .contact{
      font-size: 1.4em;
      position: relative;
      bottom: 60px;
      // left: -35px;
      // border: solid 1px ;
      font-weight: bold;
      line-height: .8em;
      letter-spacing: .08em;
      color: $brown-color;
      text-align: center;
      &--number{
        letter-spacing: 0;
        white-space: nowrap;
      }
      @include media-breakpoint-up(md){
       text-align: left;
     }
      
    }
    // .info-container{
    //     // padding-left: 1.6em;
    // }
      .title{
        font-size: 1.1em;
        margin-bottom: 1.1em;
        font-weight: bold;
      }
      .opening-hours, .saturday, .address{
        text-indent: 10px;
        white-space: nowrap;
        p{
          line-height: .2;
          
        }
      }
      .address{
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      .text{
          font-size: 1em ;
          &--mini{
            font-size: .85em;
        }
      }
      .form-check{
          font-size: .7em;
          margin-top: 2em;
      }
 
}