#newsletter{
  background-color: $gold-color;
  font-size: 18px;
    padding: 0;
  border:  20px solid $gold-color;
  border-left: solid 30px $gold-color;
  border-right: solid 30px $gold-color;
    position: relative;
    
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:checked{
      &:after{
        content: "";
    // position: absolute;
    background: grey;
    width: 60%;
    height: 60%;
    border-radius: 50%;
      }
    }
  }

   @include media-breakpoint-down(md){
        font-size: 14px;
      }
      
   @include media-breakpoint-down(sm){
        font-size: 16px;
      }

  .logo-container{
    // border: solid green;
    position: relative;
    left: -50px;
    top: -50px;
    // display: flex;
    // height: 100px;
    .echo-investment-container{
        // border-right: solid;
        height: 100%;
        margin-left: 0;
        // border-left: solid;
        .logo{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.8em;
            margin-bottom: 0;
            
            // height: 100%;
            &--mini{
            text-transform: lowercase;
            font-weight: lighter;
            font-size: 1.4em;
            margin-top: 0;
            position: relative;
            bottom: 20px;
            letter-spacing: .1em;
            }
        }
    }

    .comercial-text{
      // border: solid pink;
      p{
        // background-color: yellow;
        margin: 0;
        font-style: italic;
        line-height: 1.4em;;
      }
    }
    

  }
  .contact{
      font-size: 1.4em;
      position: relative;
      bottom: 60px;
      left: -35px;
      font-weight: bold;
      line-height: .8em;
      letter-spacing: .08em;
      color: $brown-color;
      &--number{
          letter-spacing: 0;
          white-space: nowrap;
      }
    }
    .info-container{
        padding-left: 1.6em;
    }
      .title{
        font-size: 1.1em;
        margin-bottom: 1.1em;
        
      }
      .address{
        font-weight: bold;
      }
      .text{
          font-size: 1em ;
          &--mini{
            font-size: .85em;
        }
      }
      .form-check{
        //   border: solid;
          font-size: .7em;
          margin-top: 2em;
      }
 
}